### Import library

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [3]:
df = pd.read_csv('bank.csv',sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
df.shape

(4521, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

# EDA

### Transform job become employee and unemployee, 1 stands for employee and 0 stands for unemployee

In [36]:
df['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

#### 1. Check how many unknown status

In [40]:
df[df['job'] == 'unknown'].shape

(38, 17)

#### There is only 38 for total 4521, so I will drop because is only 0,8% of data

In [46]:
df = df[df['job'] != 'unknown']

##### Transform data

In [51]:
df['job'][df['job'] != 'unemployed'] =1
df['job'][df['job'] == 'unemployed'] =0

<ipython-input-51-e40b068200da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job'][df['job'] != 'unemployed'] =1
<ipython-input-51-e40b068200da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job'][df['job'] == 'unemployed'] =0

In [53]:
df['job'].apply(int)

0       0
1       1
2       1
3       1
4       1
       ..
4516    1
4517    1
4518    1
4519    1
4520    1
Name: job, Length: 4483, dtype: int64

In [55]:
df['job']

0       0
1       1
2       1
3       1
4       1
       ..
4516    1
4517    1
4518    1
4519    1
4520    1
Name: job, Length: 4483, dtype: object

#### SPLIT DATAFRAME X AND Y

In [30]:
df_x = df.iloc[:, 0:16]
df_y = df.iloc[:, 16:17]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(3616, 16) (3616, 1)
(905, 16) (905, 1)

### KNN

In [34]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train, y_train)
neigh.predict(X_test,y_test)

ValueError: could not convert string to float: 'blue-collar'